# LaTeX Stuff:
*.aux
*.log
*.pdf
*.synctex.gz
*.fdb_latexmk
*.out

# Beamer Stuff:
*.nav
*.snm
*.toc

# BibTeX Stuff:
*.bbl
*.blg

# OS X Stuff:
.DS_Store

# Emacs Stuff:
*~

# Other Temporary Files:
._*